{{- /* Head custom content area start */ -}}
<link rel="stylesheet" href="{{ "css/language-dropdown.css" | relURL }}">
<script src="{{ "js/language-detector.js" | relURL }}" defer></script>
<script src="{{ "js/language-dropdown.js" | relURL }}" defer></script>

<!-- Cloudflare Web Analytics -->
<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "b9d92c55a0474f36b18d702ebe125c73"}'></script>
<!-- End Cloudflare Web Analytics -->
{{- /* Head custom content area end */ -}}
